/venv/
/env/
/.env
/.idea/
node_modules
*.pyc
*/__pycache__/
/logs/
/static/
client/debug.log
/venv/src/olittwhmcs/
/src/olittwhmcs/
/.vscode/
/aitextgen/
/geoip/
Dockerfile.*
docker-compose.yml
start_dev.sh
.tool-versions
pyproject.toml
.env.*
.nvmrc
configuration.php
docker-php-entrypoint
dprint.json
.neoconf.json
local
.prettierrc
/client/.env
/.fleet
*.log
/ngrok.exe
/stripe.exe
get-pip.py
